@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
  padding: 10px 0;
}

.page {
  max-width: 667px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.shdw {
  -webkit-box-shadow: 5px 5px 10px #cfcdcd;
          box-shadow: 5px 5px 10px #cfcdcd;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #cfcdcd;
  width: 100%;
  font-weight: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 15px 10px -12px #333333;
          box-shadow: inset 0px 15px 10px -12px #333333;
}

.location .location__ico {
  padding-right: 20px;
}

.explo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  padding: 30px;
  text-align: center;
}

.ahrefno {
  text-decoration: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  margin: 40px 0;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  width: 180px;
  padding: 10px 0;
}

.util {
  padding: 30px 10px;
}

.util ol {
  list-style: none;
  counter-reset: li;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.util li::before {
  content: counter(li);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -75px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #9356DC;
}

.util li {
  counter-increment: li;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #F6F6F6;
}

.util .cont_etaps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.util .etape {
  margin-left: 15px;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 30px 10px;
}

.restaurant__card {
  border-radius: 20px;
  width: 300px;
  height: 240px;
  margin: auto;
}

.restaurant__card__img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.restaurant__card__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 5px 10px;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

.restaurant__card__legend__text {
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

.restaurant__card__legend__text__nom {
  text-decoration: none;
  color: red;
}

.restaurant__card__legend__text__lieu {
  text-decoration: none;
  color: #6200ff;
}

.restaurant__card__legend__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #333333;
  color: white;
  padding: 20px;
}

.footer__logo {
  font-family: 'Shrikhand', cursive;
}

.footer__link {
  color: white;
  text-decoration: none;
  line-height: 25px;
}

.footer__style {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.footer__icon {
  width: 15px;
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */