@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
  padding: 10px 0;
}

.page {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.shdw {
  box-shadow: 5px 5px 10px #cfcdcd;
}

.spacer_tertiary {
  width: 40px;
  height: 3px;
  margin-left: 22px;
  margin-bottom: 15px;
  background-color: #99E2D0;
}

.location {
  display: flex;
  height: 50px;
  background-color: #cfcdcd;
  width: 100%;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 15px 10px -12px #333333;
}
.location .location__ico {
  padding-right: 20px;
}

.explo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 20px;
  text-align: center;
}

.ahrefno {
  text-decoration: none;
}

.link_index {
  position: absolute;
  left: 20px;
  top: 15px;
  color: black;
}

.btn {
  display: flex;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 40px 0;
}
.btn:hover {
  border-radius: 25px;
}
.btn:hover::after {
  border-radius: 25px;
  opacity: 1;
}
.btn::after {
  content: "Explorer nos restaurants";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  opacity: 0;
  z-index: 1;
  box-shadow: 5px 5px 10px #b6b3b3;
  transition: opacity 400ms;
}

.nouveau {
  position: absolute;
  display: flex;
  top: 14px;
  right: 12px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #278870;
}

/* show dishes one after one */
.menu__c__p--1 {
  animation: show 400ms 200ms;
  animation-fill-mode: forwards;
}

.menu__c__p--2 {
  animation: show 400ms 400ms;
  animation-fill-mode: forwards;
}

.menu__c__p--3 {
  animation: show 400ms 600ms;
  animation-fill-mode: forwards;
}

.menu__c__p--4 {
  animation: show 400ms 800ms;
  animation-fill-mode: forwards;
}

.menu__c__p--5 {
  animation: show 400ms 1000ms;
  animation-fill-mode: forwards;
}

.menu__c__p--6 {
  animation: show 400ms 1200ms;
  animation-fill-mode: forwards;
}

.menu__c__p--7 {
  animation: show 400ms 1400ms;
  animation-fill-mode: forwards;
}

.menu__c__p--8 {
  animation: show 400ms 1600ms;
  animation-fill-mode: forwards;
}

.menu__c__p--9 {
  animation: show 400ms 1800ms;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* flag on dish */
.menu__cont__plat {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 350px;
  height: 68px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  background-color: white;
  opacity: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prix {
  display: flex;
  height: 68px;
  font-weight: 800;
  transform: translateX(0);
  transition: transform 600ms;
  border: 1px solid purple;
  position: relative;
  right: 0;
  top: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  background-color: white;
}

.check_box {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 68px;
  background-color: #99E2D0;
  transform: translateX(60px);
  transition: transform 600ms cubic-bezier(0.32, 0, 0.07, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check_circle {
  height: 30px;
  width: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 600ms;
  color: #99E2D0;
}

.menu__cont__plat:hover .check_box {
  transform: translateX(0);
}
.menu__cont__plat:hover .prix {
  transform: translateX(-60px);
}
.menu__cont__plat:hover .check_circle {
  transform: rotate(0);
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  visibility: hidden;
  animation: back 2s;
}

@keyframes back {
  0%, 100% {
    visibility: visible;
  }
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.7;
  animation: scale 2s 1 cubic-bezier(0, 0, 0.49, 1.02);
}

.circle--1 {
  background-color: #49b8e5;
}
.circle--1:before {
  background-color: #49b8e5;
  animation-delay: 200ms;
}

.circle--2 {
  background-color: #1e98d4;
}
.circle--2:before {
  background-color: #1e98d4;
  animation-delay: 400ms;
}

.circle--3 {
  background-color: #2a92d0;
}
.circle--3:before {
  background-color: #2a92d0;
  animation-delay: 600ms;
}

.circle--4 {
  background-color: #3a88c8;
}
.circle--4:before {
  background-color: #3a88c8;
  animation-delay: 800ms;
}

.circle--5 {
  background-color: #507cbe;
}
.circle--5:before {
  background-color: #507cbe;
  animation-delay: 1000ms;
}

@keyframes scale {
  0% {
    visibility: visible;
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  width: 180px;
  padding: 10px 0;
}

.util {
  width: 375px;
  padding: 30px 10px;
  margin: auto;
}
.util ol {
  list-style: none;
  counter-reset: li;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 0;
}
.util li::before {
  content: counter(li);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #9356DC;
  position: relative;
  left: -12px;
}
.util li {
  counter-increment: li;
  display: flex;
  align-items: center;
  width: 330px;
  height: 75px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #F6F6F6;
}
.util li:hover {
  background-color: #f2eafb;
}
.util li:hover .color_ico {
  color: #9356DC;
}
.util .cont_etaps {
  display: flex;
  margin: auto;
}
.util .etape {
  margin-left: 15px;
}

.restaurant {
  background-color: #F6F6F6;
}

.restaurant__cont {
  width: 375px;
  margin: auto;
  padding: 30px 10px;
}

.restaurant__card {
  border-radius: 20px;
  width: 330px;
  height: 250px;
  margin: auto;
  background-color: white;
  margin-bottom: 15px;
  position: relative;
}

.restaurant__card__img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  margin: 0;
}

.restaurant__card__legend {
  display: flex;
  border-radius: 0 0 20px 20px;
  padding: 0 10px 5px 10px;
  height: 70px;
  justify-content: space-between;
  text-decoration: none;
}

.restaurant__card__legend__text {
  align-self: center;
  color: black;
}

.restaurant__card__legend__text__nom {
  text-decoration: none;
  font-weight: 800;
}

.restaurant__card__legend__text__lieu {
  text-decoration: none;
}

.restaurant__card__legend__heart {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  color: black;
  position: relative;
}

.heart_default {
  opacity: 1;
  transition: 400ms;
}
.heart_default:hover {
  opacity: 0;
}

.heart_hover {
  position: absolute;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 400ms;
}
.heart_hover:hover {
  opacity: 1;
}

.footer {
  background-color: #333333;
  color: white;
}

.footer__cont {
  width: 375px;
  margin: auto;
  padding: 20px;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
}

.footer__link {
  color: white;
  text-decoration: none;
  line-height: 25px;
}

.footer__style {
  list-style: none;
  padding-inline-start: 0;
}

.footer__icon {
  width: 15px;
  margin-right: 10px;
}

.heroe {
  text-align: center;
}

.heroe_photo {
  width: 375px;
  height: 260px;
  object-fit: cover;
  margin: auto;
}

.resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding: 30px 25px 10px 13px;
}

.menu {
  background-color: #F6F6F6;
  width: 375px;
  margin: auto;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -45px;
  padding-bottom: 45px;
}

.menu__service {
  font-size: 1em;
  margin: 20px 25px 5px 22px;
}

.plat {
  overflow: hidden;
}

.plat__nom {
  font-size: 1.2rem;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plat__info {
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
