/* show dishes one after one */

@for $i from 1 through 9 {
    .menu__c__p--#{$i} {
        animation: show 400ms 200ms*$i;
        animation-fill-mode: forwards;
    }
}

@keyframes show {
    0% {
        opacity: 0;    
    }
    100% {
        opacity: 1;
    }
}

/* flag on dish */

.menu__cont__plat{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 350px;
    height: 68px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
    background-color: white;
    opacity: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.plat{
    overflow: hidden;
    width: 290px;
    border: 1px solid red; 
    

    transition: width 600ms cubic-bezier(.32,0,.07,1);   
}
.plat__nom{
    font-size: 1.2rem;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.plat__info{
    font-size: 0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cont_prix{
    display: flex;
}
.prix{
    display: flex;
    height: 68px;
    font-weight: 800;
    transform: translateX(0);
    transition: transform 600ms;
    border: 1px solid purple;
    position: relative;
    right: 0;
    top: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    background-color: white;
    }

.check_box{
    position:absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 68px;
    background-color: $colour-tertiary;
    transform: translateX(60px);
    transition: transform 600ms cubic-bezier(.32,0,.07,1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.check_circle{
    height: 30px;
    width: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 600ms;
    color: $colour-tertiary;
}


.menu__cont__plat{
    &:hover .check_box{
        transform: translateX(0);  
    }
    &:hover .prix{
        transform: translateX(-60px);
    }
    &:hover .check_circle{
        transform: rotate(0);
    }
    &:hover .plat{
        width: 230px;
    }
}
