.btn {
    display: flex;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 40px 0;
    &:hover{
        border-radius: 25px;
        &::after{
            border-radius: 25px;
            opacity: 1;
        }
    }
    &::after{
        content: "Explorer nos restaurants";
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 50px;
            border-radius: 25px;
            background-image: linear-gradient(to bottom right, lighten($colour-secondary,10), lighten($colour-primary,10));
            opacity: 0;
            z-index: 1;
            box-shadow: 5px 5px 10px darken($colour-medium-grey, 10);
            transition: opacity 400ms;
    }
}



.nouveau{
    position: absolute;
    display: flex;
    top: 14px;
    right: 12px;
    width: 80px;
    height: 30px;
    background-color: $colour-tertiary;
    z-index: 5;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: darken($color:$colour-tertiary, $amount: 40%);
}