.btn {
    display: flex;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 40px 0;
}