.btn {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: white;
}