* {
    box-sizing: border-box;
    margin: 0;
}

h1{font-size: 1.6em;}

h2{
    font-size: 1.4em;
    padding: 10px 0;
}

.page{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.shdw{
    box-shadow: 5px 5px 10px $colour-medium-grey;
}

.spacer_tertiary{
    width: 40px;
    height: 3px;
    margin-left: 22px;
    margin-bottom: 15px;
    background-color: $colour-tertiary;
}

.ahrefno{
    text-decoration: none;
}

.link_index{
    position: absolute;
    left: 20px;
    top: 15px;
    color: black;
}

.centred{
    margin:auto;
    width: 200px;
    display: flex;
}


