.restaurant{
    background-color: $colour-light-grey;
    padding: 30px 10px;
}
.restaurant__card{
    border-radius: 20px;
    width: 330px;
    height: 250px;
    margin: auto;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
}
.restaurant__card__img{
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    margin: 0;
}
.restaurant__card__legend{
    display: flex;
    
    border-radius: 0 0 20px 20px;
    padding: 0 10px 5px 10px;
    height: 70px;
    justify-content: space-between;text-decoration: none;
}
.restaurant__card__legend__text{
    align-self: center;
    color: black;   
}
.restaurant__card__legend__text__nom{
    text-decoration: none;
    font-weight: 800;
}
.restaurant__card__legend__text__lieu{
    text-decoration: none;
}
.restaurant__card__legend__heart{
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: black;
    position: relative;              
}

.heart_default{
    
    opacity: 1;
    transition: 400ms;
    &:hover{
        opacity: 0;
    }
}
.heart_hover{
    position:absolute;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 400ms;
    &:hover{
        opacity: 1;
    }
}
